<!DOCTYPE html>
<html>

  {% include head.html %}
  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary" itemprop="description">
          <p>한 곳에 멈춰있지 않고, 여러 분야를 경험하며 끊임없이 그 안에서 화학작용이 일어나 새로운 창조물이 나오고, 또 그 곳에 나만의 색을 녹여 나만의 것을 만든다 라는 문장으로 존재하고있는 루시입니다.</p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button" itemprop="email">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume_item">
          <h4 class="resume_item-details">개발</h4>
          <ul>
            <li><p class="resume_item-copy">워드프레스 웹사이트 제작 및 관리</p></li>
            <li><p class="resume_item-copy">네이티브 iOS 앱</p></li>
          </ul>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">번역</h4>
          <ul>
            <li><p class="resume-item-copy">프로그래밍 관련 강의나 문서, 글을 번역</p></li>
            <li><p class="resume-item-copy">화려한 수식어구가 아니라 의도를 잘 전달하는 수준 (한국어 -> 영어)</p></li>
          </ul>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">콘텐츠 제작</h4>
          <ul>
            <li><p class="resume-item-copy">말하려는 의도를 담백하고 재미있게 전달하는 글</p></li>
            <li><p class="resume-item-copy">카드뉴스 제작</p></li>
            <li><p class="resume-item-copy">작은 단위의 심플한 웹툰 제작</p></li>
            <li><p class="resume-item-copy">뉴스레터 제작</p></li>
          </ul>
        </div>

        <div class="resume_item">
          <h4 class="resume_item-details">디자인</h4>
          <ul>
            <li><p class="resume_item-copy">브랜드, 회사, 제품, 어플리케이션의 로고</p></li>
          </ul>
        </div>

        <div class="resume_item">
          <h4 class="resume_item-details">마케팅</h4>
          <ul>
            <li><p class="resume_item-copy">소셜미디어 운영</p></li>
          </ul>
        </div>
        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <!-- end of resume-item -->
      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name"><a href="https://goo.gl/TD5sQM">이밍</a></h3>
          <h4 class="resume-item-details" itemprop="description">iOS app 개발 &bull; 2016.2 &mdash; 2016.4</h4>
          <p class="resume-item-copy">이밍은 각나라의 기술이민점수표를 토대로 이민 점수를 합산하여 이민가능여부를 알려주는 어플리케이션입니다.</p>
          <ul>
            <li>프로세스: 요구사항파악 - 구현에 대한 피드백 - 일정논의 - 구현 - 테스트 - 배포</li>
            <li>사용한 개발 툴: Xcode, Bitbucket</li>
            <li>커뮤니케이션 툴: Dropbox, Slack, Evernote, GoogleDrive, Hangout</li>
            <li>일정관리: <a href="https://www.teamgantt.com">Teamgantt</a>, <a href="https://trello.com/"></a>Trello</li>
            <li>언어: Swift</li>
            <li>사용한 오픈소스: Google Analytics</li>
            <li>1.0.4 ~ 1.0.7 버전 개발</li>
            <li>버전별 업데이트주기: 약 2주</li>
          </ul>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name"><a href="http://impactool.org">Impactool</a></h3>
          <h4 class="resume-item-details" itemprop="description">wordpress 개발 &bull; 2016.10.20 &mdash; 2016.11.4</h4>
          <p class="resume-item-copy">위키같은 게시판 형식의 워드프레스를 요구사항대로 커스터마이징 하였습니다.</p>
          <ul>
            <li>사용한 테마: <a href="http://demo.herothemes.com/helpguru/">Helpguru</a></li>
            <li>기능: 반응형 웹</li>
            <li>진행방식: 클라이언트 커뮤니케이션은 <a href=" www.seeso.kr">시소</a>가 직접 진행, 실제 개발만 함</li>
            <li>클라이언트: <a href="http://sopoong.net">소풍</a></li>
            <li>사용한 개발 툴: Sublime Text, Atom, FileZilla</li>
            <li>일정관리: 트렐로</li>
            <li>언어: html, css, php</li>
          </ul>
        </div>


        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name"><a href="http://hangling.org">한글링</a></h3>
          <h4 class="resume-item-details" itemprop="description">번역 &bull; 2016.6 &mdash; Present</h4>
          <p class="resume-item-copy">한글링은 외국에서 사랑받고 있는 훌륭한 교육 컨텐츠를 한국어로 번역하여 제공해 드리는 프로젝트입니다. 현재 진행하고 있는 강의는 <a href="https://goo.gl/J0urTT">Stanford Developing iOS9 Apps with Swift</a>를 번역한 아이오에스입니다.</p>
          <ul>
            <li>사용한 툴: Evernote, <a href="https://goo.gl/r5dSK7">Youtube</a></li>
            <li>프로세스: 영어스크립트번역 - 영상과 비교하며 수정 - 유투브에 자막등록 - 웹사이트에 등록</li>
            <li>반응: <a href="https://goo.gl/KRBu5S">나는 프로그래머다</a>, <a href="https://goo.gl/RCYbHf">인프런</a></li>
          </ul>
          <h4 class="resume-item-details" itemprop="description">워드프레스 개발 및 관리 &bull; 2016.8 &mdash; Present</h4>
          <p class="resume-item-copy">한글링 홈페이지를 워드프레스로 개발 및 커스텀하였습니다. 원하는 기능들이 담긴 테마를 찾아 설치하고 일부분 커스터마이징하였습니다.</p>
           <ul>
             <li>프로세스: 원하는 핵심 기능 정의 - 알맞는 테마 서칭 - 도메인 및 호스팅 구매 - 워드프레스 설치 - 커스터마이징 - 최적화 - 테스트</li>
             <li>도메인 및 호스팅업체: <a href="https://kr.godaddy.com/">Godday</a></li>
             <li>파일소스 관리: Cpanel</li>
           </ul>
           <h4 class="resume-item-details" itemprop="description">로고 디자인</h4>
           <p class="resume-item-copy">한글링이 담고 있는 세종대왕의 훈민정음에 착안하여 한글링이 진행형(~ing) 멈춰있지 않고 굴러다니는 역동적인 이미지와 궁서체처럼 한중일 아시아 특유의 붓의 강약 조절 느낌을 담아 디자인하였습니다.</p>
            <ul>
              <li>사용한 툴: Photoshop, Illustrator</li>
            </ul>
            <a href="http://hangling.org/wp-content/uploads/2016/09/hanglinglogo.jpg">
              <img src="http://hangling.org/wp-content/uploads/2016/09/hanglinglogo.jpg" alt="hangling_logo"></a>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name"><a href="https://goo.gl/fKJvYV">디지털노마드 인지발달론 e-book</a></h3>
          <h4 class="resume-item-details" itemprop="description">콘텐츠제작 &bull; 글 </h4>
          <p class="resume-item-copy">맥북만 있으면 세계어디에서든지 일을 할 수 있는 디지털노마드로서 살아가면서 생기는 일들과 이러한 노마드들로 이루어진 스타트업 노마드씨 팀원들과 생기는 조금 특이하고도 재미있는 일상을 놓치치 않고 사유하고 기록한 책입니다. <a href="https://goo.gl/JMm0Gd">브런치</a>에 있는 글들을 엮어 e-book으로 출간하였습니다.</p>
          <ul>
            <li>사용한 툴: sigil</li>
            <li>형식: 에세이</li>
            <li>반응: <a href="https://goo.gl/S4ndZm">컴퓨터/IT분야 무료책 인기순위</a></li>
          </ul>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name"><a href="https://goo.gl/JrgGrg">HeyWine</a></h3>
          <h4 class="resume-item-details" itemprop="description">콘텐츠제작 & 마케팅</h4>
          <p class="resume-item-copy">과거 <a href="http://www.prnd.co.kr/">prnd company</a>에서 진행했던 프로젝트입니다. 어려운 와인이 아닌 나에게 지금당장 필요한 실전 와인상식을 알려주는 카드뉴스입니다. 차를 가지고 있는 20~30대 남성을 대상으로 하였으며, 카드뉴스 마지막에 제품홍보컨텐츠가 들어갔습니다.</p>
          <ul>
            <li>사용한 툴: Photoshop</li>
            <li>홍보채널: 빙글</li>
            <li>마케팅 결과: 60만뷰 / Likes: 772 / Clips: 1262</li>
          </ul>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name"><a href="https://github.com/LucyJeong/lucyjeong.github.io/blob/master/newletter.html" download>우리는디지털노마드다 뉴스레터</a></h3>
          <h4 class="resume-item-details" itemprop="description">콘텐츠제작 &bull; 2016.7 &mdash; Present</h4>
          <p class="resume-item-copy">2주일마다 한번씩 <a href="http://wearedigitalnomads.kr">우리는디지털노마드다</a> 커뮤니티에 있는 글 또는 디지털노마드에게 유용한 글들을 모아 발행하고 있습니다.</p>
          <ul>
            <li>사용한 툴: Pixelmater, Photoshop, <a href="http://mailchimp.com/">Mailchimp</a></li>
            <li>결과: 평균 53% 오픈률</li>
          </ul>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name"><a href="https://goo.gl/TD5sQM">노마드씨 인스타그램</a></h3>
          <h4 class="resume-item-details" itemprop="description">온라인 마케팅</h4>
          <p class="resume-item-copy">노마드씨가 운영하는 채널로써, 국내외에서 활동하고있는 디지털노마드와 노마드씨를 홍보합니다. 디지털노마드의 핵심인 노트북과 함께 현재 자신이 있는 장소에서 일을 하고 있는 사진을 #노마드씨와 함께 올리면 노마드씨 인스타그램에서 리포스팅합니다.</p>
          <ul>
            <li>프로세스: 전략 - 분석 (경쟁사) - 테마를 정함 - 나만의 해쉬태그 - 멋진 사진을 제작 - 홍보 - 분석</li>
            <li>나만의 해쉬태그: <a href="https://goo.gl/cAq1f5">#노마드씨</a></li>
            <li>타겟: 국내외 디지털노마드</li>
            <li>사용한 분석툴: <a href="http://community.adbby.com/">애비</a></li>
            <li>결과: 전체 팔로워 298 전체 팔로잉 386 전체 좋아요 8.6k 댓글512</li>
          </ul>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      <!-- begin what can i do-->
      {% if site.resume_section_education %}
      <section class="content-section">

        <header class="section-header">
          <h2>So, What can I do for you?</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">주니어 iOS 개발자</h4>
            <p class="resume-item-copy">"이밍"정도 실력을 가진 개발인력이 필요한 분, 이밍정도의 앱을 개발하고 싶으신 분</p>
            <p class="resume-item-copy">*여기서 말하는 이밍정도란: 서버X, 자체DB, 심플한 UI</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">현재 운영하는 워드프레스 관리</h4>
            <p class="resume-item-copy">워드프레스에 익숙한 사람이 필요한 분, 현재 워드프레스에 콘텐츠를 지속적으로 관리하고 올려야하는 분</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">개인 웹사이트 제작</h4>
            <p class="resume-item-copy">나만의 블로그, 포트폴리오등등 자신의 입맛에 맞는 워드프레스를 쨍하게 만들고 싶은 분</p>
            <p class="resume-item-copy">워드프레스 제작, 커스터마이징, 전체적인 디자인을 해드립니다.</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">프로그래밍관련 번역</h4>
            <p class="resume-item-copy">프로그래밍관련 문서를 번역해야하는 분, 자신의 제품에 대한 설명이나 문서를 영어 또는 한국어로 번역해야하는 분</p>
            <p class="resume-item-copy">원하는 의도를 잘 전달하도록 번역해드립니다.</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">소셜미디어 마케팅</h4>
            <p class="resume-item-copy">페이스북, 인스타그램등의 소셜미디어에 비즈니스를 위한 온라인마케팅이 필요한 분</p>
            <p class="resume-item-copy">채널별 적절한 마케팅전략을 기획하여 진행하고 일정기간마다 각 채널 분석자료를 보내드립니다.</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">카드뉴스 제작</h4>
            <p class="resume-item-copy">자신의 사업을 위한 마케팅으로써 카드뉴스가 필요한 분</p>
            <p class="resume-item-copy">타겟을 위한 콘텐츠를 제작하고 디자인하여 원하는 채널에 최적화하여 제작해드립니다.</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">에세이 형식의 글 제작</h4>
            <p class="resume-item-copy">프리랜서 에디터가 필요한 분, 여행콘텐츠가 필요한 분</p>
            <p class="resume-item-copy">담백하고 재미있게 글을 써드립니다.</p>
        </div>


      </section>
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Work Process -->
      <section class="content-section">

        <header class="section-header">
          <h2>Work Process</h2>
        </header>

        <div class="resume-item">
          <p class="resume-item-copy">이메일을 통해 문의 - 확인후 연락 - 자세한 협의 - 계약 - 1차 50%계약금 - 제작 - 전달 - 피드백후 - 2차 50%계약금</p>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Price</h2>
        </header>

        <div class="resume-item-list">
          <ul>
            <li>주급: 40시간 80만원</li>
            <li>최소일단위: 20시간 이상 (건당X)</li>
            <li>계약금: 1차 50%, 2차 50% 분할</li>
          </ul>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">thanks to nicholasKim</p>
      </footer>

    </div>

  </body>

</html>
